
.idea/
TransformListOfElementsToSpecefication/TransformListOfElementsToSpec.iml
TransformListOfElementsToSpecefication/src/main/resources/SFM-2AD1000.txt
TransformListOfElementsToSpecefication/target/
